# data files
data/*

# swp files for vim
*.swp

# pycache
*pycache*
*.pyc

# wandb files
wandb/*

# cached databases
cache/*

# output files
output/*

# build of roi pooling
*build*

# json and model files
*.bin
*.model

# apex
apex/*
.ipynb_checkpoints/*
